<%= render "form.html", changeset: @changeset,
                        label: "Register", required: [required: ""],
                        action: registration_path(@conn, :create), conn: @conn %>
<div class="auth-links">
  <%= signin_link(@conn, "I already have an account") %>
</div>

