<!DOCTYPE html>
<html lang="en" class="bg">
  <head>
    <%= render Mafia.SharedView, "head.html", title: "Hoo boy!" %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main class="auth" role="main">
        <div class="auth-column">
          <h1>rty.party</h1>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

    </div> <!-- /container -->
  </body>
</html>
